<div *ngIf="!isSignIn">
  <h1>probando denuevo</h1>
  <input type="text" #emailSingup />
  <input type="text" #passwordSingup />
  <button (click)="onSingup(emailSingup.value, passwordSingup.value)">
    Sing up
  </button>
</div>
<hr />
<div *ngIf="!inSignIn">
  <h2>Sing in</h2>
  <input type="text" #email />
  <input type="text" #password />
  <button (click)="onSingin(email.value, password.value)">Sing in</button>
</div>
<app-home *ngIf="inSignIn" (isLogout)="handleLogout()"></app-home>
<div style="text-align: center;"><h1>otra cosa</h1></div>
<div class="container" style="text-align: center">
  <h1>SISTEMA DE ESTUDIANTES</h1>
  <button
    type="button"
    class="btn btn-lg btn-outline-success"
    (click)="open(content)"
  >
    Agregar estudiante
  </button>

  <table class="table">
    <thead>
      <th>ID</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Opciones</th>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection.data | paginate: config">
        <td>{{ item.id }}</td>
        <td>{{ item.nombre }}</td>
        <td>{{ item.apellido }}</td>
        <td>
          <button
            type="button"
            class="btn btn-primary"
            (click)="openEditar(content, item)"
          >
            Editar
          </button>
          <button type="button" class="btn btn-danger" (click)="eliminar(item)">
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  <!-- MODAL DIALOG -->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        ESTUDIANTES CREATE/UPDATE
      </h4>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <form [formGroup]="estudianteForm">
            <div class="form-group">
              <label for="">ID:</label>
              <input type="number" formControlName="id" class="form-control" />
            </div>
            <div class="form-group">
              <label for="">Nombre:</label>
              <input
                type="text"
                formControlName="nombre"
                class="form-control"
              />
            </div>
            <div class="form-group">
              <label for="">Apellido:</label>
              <input
                type="text"
                formControlName="apellido"
                class="form-control"
              />
            </div>
          </form>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="guardarEstudiante()"
        *ngIf="!actualizar"
      >
        Guardar
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="actualizarEstudiante()"
        *ngIf="actualizar"
      >
        Actualizar
      </button>
    </div>
  </ng-template>

  <hr />
  <pre>{{ closeResult }}</pre>
</div>
